.register{
    position: absolute;
    width: 156px;
    height: 48px;
    left: 524px;
    top: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    text-align: center;
}